@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
   }
  
  :root{
  --primary-color: #001524 ;
  --secondary-color:#15616D;
  --accent1-color: #FFECD1;
  --accent2-color: #FF7D00;
  
  --heading-font:'',serif;
  --paragraph-font:'',serif;
  
  --nav-background-color: #dec6a4;
  --nav-link-color: #3a0ba9;
  --nav-hover-link-color: #0e7cc5;
  --nav-hover-background-color: #ff9900;
  }
  
          
   h1, h2, h3, h4, h5, h6 {
     font-family: var(--heading-font);
     color: var(--primary-color);
   }

   h1{
    position: relative;
   }
   article{
    position: relative;}

.grid{display: grid;
  align-items: center;
}       
  header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
   
  }


  p{padding:25px;
  }
  section{
    justify-content: center;
    align-content: center;
  }
  
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    grid-column: 2/3;
    align-content: space-evenly;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);}

footer {
  margin-top: 15px ;
  text-align: center;
  justify-content: center;
  align-content: center;
 }
 .box{
  display: grid;
  justify-content: center;
  
  margin: 1rem;
  padding: 1rem;
  background-color: darkgray;
  color: azure;
}
.box img{ 
  width: 20%;
position: relative;
}

 .hero {
  position: relative;
  display: inline-block;
}

.hero img {
  display: block;
  width: 82.5%;
  height: auto;

}

.overlay-text {
  position: absolute;
  top: 15%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #dec6a4; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;}