*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {background-color: steelblue;
padding: 10px; 
display: flex;
justify-content:space-evenly ;
align-items: center;
}


nav a { color: white;
display: block;
padding: 20px;}

h1 
{color: steelblue;
border-bottom: 1px solid #333;
padding: 0 0 5px;

}

main img{ width: 150px;
height: auto;
border: 1px solid steelblue;
padding: 2px;
box-shadow: 0 0 30px gray;
float: right;}

p{padding: 0;}

.grid{display: grid;
  align-items: center;
}       
main {
  max-width: 840px;
  grid-column: 2/3;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */ 
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  grid-column:1/2 ;
  grid-row: 1/2;
  }

aside img {
  width: 200px;
  height: auto;

  
}

aside h2{
  position: absolute;
  left: 150px;
}
header,footer,.grid {
  margin-top: 15px ;
  max-width: 840px;
  margin: auto;
  text-align: center;
  
 }


.box{
  margin: 1rem;
  padding: 1rem;
  background-color: darkgray;
  color: azure;
}

